
<ion-content class="content" padding>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [id]="reset_id">
    <ion-fab-button [color]="color" (click)="delete()">
      <ion-icon name="refresh-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row class="ion-activatable">
      <ion-col>
        <ion-card 
          (click)="!disable_click_p1 && startTimer1(77)" 
          [ngClass]="{
          'card1-done': p1_done
          }">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-header [hidden]="hide_p1">
            <!-- <ion-card-subtitle>Phase 1</ion-card-subtitle> -->
            <ion-card-title>{{p1}}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-progress-bar [hidden]="hide_p1" *ngIf="start_p1" value="{{percent1}}"></ion-progress-bar>
            <div [hidden]="hide_p1" *ngIf="start_p1">
              <span>Time remaining: {{m}}:{{s | number:'2.0-0'}}</span>
            </div>
            <div [hidden]="!hide_p1" class="done"><p>Done</p></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-activatable">
      <ion-col>
        <ion-card 
          (click)="!disable_click_p2 && startTimer2(7)" 
          [ngClass]="{
          'card2-done': p2_done
          }">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-header [hidden]="hide_p2">
            <ion-card-subtitle>Phase 2</ion-card-subtitle>
            <ion-card-title>{{p2}}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-progress-bar [hidden]="hide_p2" value="{{percent2}}"></ion-progress-bar>
            <div [hidden]="!hide_p2" class="done"><p>Done</p></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-activatable">
      <ion-col>
        <ion-card 
          (click)="!disable_click_p3 && startTimer3(7)" 
          [ngClass]="{
          'card3-done': p3_done
          }">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-header [hidden]="hide_p3">
            <ion-card-subtitle>Phase 3</ion-card-subtitle>
            <ion-card-title>{{p3}}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-progress-bar [hidden]="hide_p3" value="{{percent3}}"></ion-progress-bar>
            <div [hidden]="!hide_p3" class="done"><p>Done</p></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-activatable">
      <ion-col>
        <ion-card 
          (click)="!disable_click_p4 && startTimer4(7)" 
          [ngClass]="{
          'card4-done': p4_done
          }">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-header [hidden]="hide_p4">
            <ion-card-subtitle>Phase 4</ion-card-subtitle>
            <ion-card-title>{{p4}}</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-progress-bar [hidden]="hide_p4" value="{{percent4}}"></ion-progress-bar>
            <div [hidden]="!hide_p4" class="done"><p>Done</p></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-button (click)="addTime(240)">3 minutes</ion-button>
      <ion-button (click)="addTime(120)">2 minutes</ion-button>
      <ion-button (click)="addTime(60)">1 minute</ion-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
