
<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-list>
      <ion-item>
        <ion-label>Recipe</ion-label>
        <ion-select
          interface="popover" 
          placeholder="Please select"
          (ionChange)="setRecipe($event)">
          <ion-select-option 
            *ngFor="let recipe of recipes; let i = index"
            value="{{recipe.id}}"
            mode="md">
              {{recipe.name}} ({{recipe.variant}})
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>
<ion-content class="content" padding>
  <ion-row class="ion-activatable">
    <ion-col>
      <div *ngIf="initial_display">
        <p>Select a recipe to begin</p>
      </div>
      <div *ngIf="roasting_display">
        <p>{{ display_time | minuteSeconds }}</p>
        <p>{{ current_roast_phase }} / {{ total_roast_phases }}</p>
      </div>
      <div *ngIf="done_display">
        <p>All done!</p>
      </div>
    </ion-col>
  </ion-row>

  <!--
  <div *ngIf="current_recipe">
    <ion-slides 
      pager="true" 
      [options]="slideOpts">
      <ion-slide class="ion-activatable" 
        *ngFor="let interval of current_recipe[0].intervals; let i = index">
          <span *ngIf="time_remain > 0">{{ time_remain | minuteSeconds }}</span>{{ interval | minuteSeconds }}, Roasting phase {{ i + 1 }}
      </ion-slide>
    </ion-slides>
  </div>
  -->





<!--
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" [id]="reset_id">
    <ion-fab-button [color]="color" (click)="resetTimer()">
      <ion-icon name="refresh-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
-->
  <ion-fab [hidden]="overtime_button" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-button (click)="addTime(180)">3 minutes</ion-button>
      <ion-button (click)="addTime(120)">2 minutes</ion-button>
      <ion-button (click)="addTime(60)">1 minute</ion-button>
      <ion-button (click)="addTime(10)">10 seconds</ion-button>
    </ion-fab-list>
  </ion-fab>
  <ion-fab [hidden]="overtime" vertical="center" horizontal="center" slot="fixed">
      <ion-fab-button>
        {{m}}:{{s | number:'2.0-0'}}
      </ion-fab-button>
    </ion-fab>
</ion-content>
